.mainSection {
  padding: 100px 0;
  position: relative;
}

.photoContainer {
  width: 50%;
}

.arrowDecoration {
  position: absolute !important;
  left: 30%;
  width: 40%;
  height: 58%;
  top: 21%;
  max-width: 350px;
  z-index: -1;
}

.polkaDecoration {
  position: absolute !important;
  left: 71%;
  right: 0%;
  width: 29%;
  height: 58%;
  top: 10%;
  bottom: 32%;
  max-width: 354px;
  max-height: 115px;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .mainSection {
    padding: 0;
  }

  .photoContainer {
    width: 100%;
  }

  .arrowDecoration {
    display: none;
  }

  .polkaDecoration {
    display: none;
  }
}

/* SINGLE SECTION LEFT */
.leftFlexDirection {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .leftFlexDirection {
    flex-direction: column-reverse;
  }
}
/* END SINGLE SECTION LEFT */

/* SINGLE SECTION RIGHT */
.rightFlexDirection {
  display: flex;
}

.rightFlexDirection .photoContainer {
  display: flex;
  justify-content: flex-end;
}

.rightFlexDirection .arrowDecoration {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0 0 0 11%;
}

.rightFlexDirection .polkaDecoration {
  left: 0%;
}

@media only screen and (max-width: 1024px) {
  .rightFlexDirection .arrowDecoration {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .rightFlexDirection {
    flex-direction: column-reverse;
  }
}
/* END SINGLE SECTION RIGHT */
