.container {
  padding: 100px 0 0 0;
  text-align: center;
  margin: 0 -25px;
}

.a {
  display: inline-flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--medium-gray-2);
  margin: 0 0 25px 0;
  transition: all 0.25s;
}

.a:hover {
  color: var(--color-1);
}

.a span {
  line-height: 20px;
  padding: 0 0 0 5px;
}

.photosContainer {
  display: flex;
  font-size: 0;
}

@media only screen and (min-width: 1367px) {
  .container {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0;
    margin: 0;
  }

  .photosContainer a:nth-child(n + 5) {
    display: none;
  }
}
