.slider_container {
  position: absolute;
  bottom: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 720px;
}

.slider_container h2 {
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.novedades_container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.wrapper_images {
  position: relative;
  margin: 0 40px 0 0;
  transition: all 0.5s ease;
}

.novedades_container_img {
  width: 200px;
}

.slider_controller {
  display: flex;
  padding: 20px 0 0 0;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 0 10px 0 0;
}

.icon svg {
  transition: all 0.5s ease;
}

.icon:hover svg {
  color: var(--dark-gray-1) !important;
}

.opacity {
  opacity: 0.25;
}

.opacity:hover svg {
  color: var(--medium-gray-2) !important;
}

@media only screen and (max-width: 1023px) {
  .novedades_container {
    width: 440px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_container {
    z-index: 2;
    width: 100%;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
  }

  .slider_container h2 {
    text-align: center;
  }

  .novedades_container {
    width: 600%;
  }

  .wrapper_images {
    margin: 0;
    width: 100%;
  }

  .novedades_container_img {
    width: 100%;
  }

  .slider_controller {
    justify-content: center;
  }
}
