/* COLORS */
:root {
  --color-1: #ff786c;
  --color-1-hover: #fe6355;
  --color-2: #9bb0f9;
  --color-3: #d4ff17;
  --color-4: #26ffcd;
  --light-gray-1: #fbfbfb;
  --light-gray-2: #dedede;
  --medium-gray-1: #bbbbbb;
  --medium-gray-2: #707070;
  --dark-gray-1: #3d3d3d;
}
/* END COLORS */

/* LAYOUT */
.containerLayout {
  margin: 0 auto;
  padding: 0;
  max-width: 1366px;
}

.containerInnerLayout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

@media only screen and (max-width: 767px) {
  .containerInnerLayout {
    padding: 0;
  }
}
/* END LAYOUT */

/* OVERALL*/
p,
ul,
li,
img,
form {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

button:focus {
  outline: none;
}

.prevent_scroll {
  overflow: hidden;
  height: 100vh;
}

.visible {
  visibility: visible !important;
}

.not_visible {
  visibility: hidden;
}
/* END OVERALL*/

/* FORMS STYLES */
input {
  padding: 10px;
  border: 0;
  width: 100%;
  margin: 10px 0;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  display: inline-block;
  background-color: var(--color-1);
  border: 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.25s;
  cursor: pointer;
  margin: 0;
}

input[type="submit"]:hover {
  background-color: var(--color-1-hover);
}

form label {
  text-transform: uppercase;
  display: block;
}

@media only screen and (max-width: 767px) {
  input {
    padding: 15px;
  }

  input[type="submit"] {
    padding: 15px;
  }
}
/* ENDFORMS STYLES */
