.container {
  max-width: 375px;
  width: 100%;
  margin: 0 25px 0 0;
  flex-basis: calc(25% - 18.74px);
  position: relative;
}

.container:nth-of-type(4n) {
  margin: 0 0 0 0;
}

.container a {
  text-decoration: none;
  font-size: 0;
  display: block;
}

.productActions {
  display: flex;
  padding: 15px 0;
  text-align: center;
  flex-direction: column;
}

.productActions span {
  font-size: 18px;
}

.productTitle {
  color: var(--medium-gray-2);
  transition: all 0.5s ease;
}

.productTitle:hover {
  color: var(--color-1);
}

.productPrice {
  display: block;
  font-weight: 900;
}

.productButtons {
  padding: 10px 0 0 0;
}

.productButtons button {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin: 0 10px 0 0;
  background-color: transparent;
}

.favorite {
  color: var(--medium-gray-2);
}

.empty {
  transition: all 0.4s ease;
}

.empty:hover {
  color: var(--color-1);
}

.full {
  display: none;
  color: var(--color-1);
}

.shopCart {
  color: var(--color-1);
}

@media only screen and (max-width: 1023px) {
  .productActions span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-basis: calc(50% - 12.5px);
  }

  .container:nth-of-type(2n) {
    margin: 0;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    flex-basis: 100%;
  }

  .container:nth-of-type(n) {
    margin: 0;
  }
}
